.signin-page {
    display: flex;
    justify-content: space-between;
    height: 100vh;
    background-color: #FFFFFF;
}

.signin-left {
    flex: 1;
    padding-left: 85px;
}

.Logo {
    font-size: 28px;
    color: black;
    font-weight: 700;
    padding-top: 70px;
}

.LoginText {
    font-size: 30px;
    color: #7346D2;
    font-weight: 700;
    padding-top: 75px;
}

.SubTitle {
    font-size: 18px;
    color: #6F6F6F;
    padding-top: 10px;
}

.inputield {
    text-align: center;
    border-radius: 100px;
    width: 320px;
    height: 50px;
    border: 1px solid #D9D9D9;
    padding: 1.25rem;
    color: #6F6F6F;
    outline: none;
    margin-top: 24px;
}

.StartButton {
    width: 320px;
    height: 50px;
    background-color: #7346D2;
    color: white;
    border-radius: 100px;
    margin-top: 12px;
}

.DontAcount {
    font-size: 14px;
    color: #6F6F6F;
    padding-top: 25px;
    padding-left: 3px;
}

.SignUpText {
    font-weight: 700;
}

.signin-image {
    width: 80%;
    max-width: 500px;
    object-fit: contain;
}

.signin-right {
    padding-right: 50px;
    text-align: right;
    display: flex;
    align-items: center
}